body {
    
    background-color: rgba(45, 63, 80, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    }


p {
    color: rgba(245, 245, 245, 0.802);

}

h6{

    color: rgba(245, 245, 245, 0.802);

}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border: solid red;
    height: 80vh; /* festir container hæð miðað við skjástærð */
    width: 40vw;/* festir container breidd miðað við skjástærð */
    min-width: 400px; 
    min-height: 400px;
    max-width: 1000px; 
    max-height: 1000px; 

    

}


.square_container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: solid red; */
    gap: 5%; /* gap helst í 3 prósent miðað við container stærð*/
    height: 100%; /* sama hér, 100 prósent stærð miðað við container */
    aspect-ratio: 1; /* scaling fix */
}

.square {
    height: 100%; /* osfrv osfrv */
    width: 100%;/* allar stærðir þurfa að vera í prósentum svo þetta virkar. px stærð fokkar öllu upp */
    border-radius: 10px;
    border: none;
    outline: none;
    
 
    
}

.audio_container {

    display: grid;
    grid-template-columns: auto auto;
    gap: 10px; 
    align-items: center;
    height: 20%;
    border: solid red; 
    line-height: px;
    margin: 1px

    
    
 
}

.circle1 {

    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color: rgba(26, 189, 156,255);
    position: absolute;
}

.circle2 {
    height: 65px;
    width: 65px;
    border-radius: 65px;
    background-color: rgba(45, 63, 80, 255);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default {
    background-color: rgba(255, 255, 255, 0.10);

}

.default:active {
    background-color: rgba(0, 255, 191, 35);

}

.default:disabled {
    background-color: rgb(195, 206, 203);
    color: rgb(120, 120, 120); 
    opacity: 0.5;
}

.red {
    background-color: rgba(230,77,60,255);
    outline:none;
  }

.red:active {
    background-color: rgb(90, 22, 22);
} 

.yellow {
    background-color: rgba(241,187,14,255);
  }

.yellow:active {
    background-color: rgb(163, 145, 43);
}

.green {
    background-color: rgba(47,205,113,255);
}

.green:active {
    background-color: rgb(27, 80, 36);
}

.blue {
    background-color: rgba(52,153,218,255);
}

.blue:active {
    background-color: rgb(42, 67, 110);

}

.button_container {

    display: grid;
   
    grid-template-columns: auto auto auto;
    gap: 5px;
    align-items: center
    

}

.buttons {
    border: 0px solid rgb(0, 0, 0);
    height: 40px;
    width: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.this_will_bw_image {

    
    height: 15px;
    width: 15px;
    position: relative;
}

.this_will_bw_image::before,
.this_will_bw_image::after {
    --scale: 0;
    position:absolute;
    top: 1100%;
    left: 700%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 50ms transform;
    margin-top: 0.25rem;
}

.this_will_bw_image::before {
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 200px;
    background: rgba(255, 255, 255, 0.05);
}

.this_will_bw_image:hover::before {
    --scale: 1;
}





#lessthan600px {
    display: none;
}

#oops_image {
    display: block;
}

#error_text {
    display: block;
    color: red;
    background-color: black;
}


@media only screen and (min-width: 599px) {
    #lessthan600px {
        display: block;
    }    
    #oops_image {
        display: none;
    }   
    #error_text {
        display: none;
    }
}