body {
    background-color: rgb(12, 52, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    color: rgba(245, 245, 245, 0.802);

}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}


.audio_container {

    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    height: 5vh;
 
}

.audio_selection{
    
 
}

.square_container {
    display: grid;
    place-items: center;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;

    gap: 10px;


}

.square {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.red {
 background-color: red;

}

.red:active {
    background-color: rgb(90, 22, 22);
  }

.yellow {

    background-color: rgb(204, 218, 20);

}

.yellow:active {
    background-color: rgb(163, 145, 43);
  }

.green {

    background-color: rgb(23, 153, 36);

}

.green:active {
    background-color: rgb(27, 80, 36);
  }

.blue {
    background-color: rgb(50, 94, 169);


}

.blue:active {
    background-color: rgb(42, 67, 110);


}



.button_container {

    display: grid;
   
    grid-template-columns: auto auto auto;
    gap: 5px;
    align-items: center
    

}

.buttons {
    border: 2px solid rgb(0, 0, 0);
    height: 30px;
    width: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.this_will_bw_image {

    
    height: 15px;
    width: 15px;

}